<% include ./partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 ebay">
            <img src="https://thelogomark.co.uk/wp-content/uploads/2012/10/ebay-original-logo.png" alt="ebay" class="img-fluid" />
        </div>
        <div class="col-4 ebay">
            <form>
                <div class="form-group row mt-5">
                    <input type="text" class="form-control col-7 m-2" placeholder="Search"/>
                    <button class="btn btn-sm btn-outline-danger col-3 m-2"><i class="fas fa-search"></i> Go</button>
                </div>
            </form>
        </div>
        <div class="col-4 bg-warning">
            <div class="bg-light m-1">
                <i class="fas fa-shopping-cart bg-warning p-2"></i>
                <span>(0) items in cart</span>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#divCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="divCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item mr-2"><a href="/" class="nav-link">HOME</a></li>
                    <li class="nav-item mr-2"><a href="/" class="nav-link">APS UPS & BATTERIES</a></li>
                    <li class="nav-item mr-2"><a href="/" class="nav-link">COMPUTER ACCESSORIES</a></li>
                    <li class="nav-item mr-2"><a href="/" class="nav-link">CONSUMERABLES</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <section id="main">
            <img src="https://images.unsplash.com/flagged/photo-1550255120-9b2a9de58dfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" class="img-fluid"/>
        </section>
        <section id="best">
            <h4 class="text-center py-2 my-2 bg-secondary">Best courses available here</h4>
            <div class="container">
                <div class="row">  
                    <% courses.forEach(function(course){ %>
                        <% if(course.status === 'best'){ %>
                        <div class="col-6 px-5 py-2">
                            <div class="card">
                                <h5 class="card-header text-center"><%= course.title %></h5>
                                <img src="<%= course.image %>" alt="<%= course.title %>" class="card-img"/>
                                <div class="card-body">
                                    <p class="card-text"><%= course.description %></p>
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-outline-danger btn-sm">Add to cart</button>
                                        <span class="text-dark text-right">Cost INR <%= course.cost %></span>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </section>
        <section id="new">
            <h4 class="text-center py-2 my-2 bg-secondary">Latest courses available</h4>
            <div class="container">
                <div class="row">  
                    <% courses.forEach(function(course){ %>
                        <% if(course.status === 'new'){ %>
                        <div class="col-4 px-5  py-2">
                            <div class="card">
                                <h5 class="card-header text-center"><%= course.title %></h5>
                                <img src="<%= course.image %>" alt="<%= course.title %>" class="card-img"/>
                                <div class="card-body">
                                    <p class="card-text"><%= course.description %></p>
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-outline-danger btn-sm">Add to cart</button>
                                        <span class="text-dark text-right">Cost INR <%= course.cost %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </section>
        <section id="sale">
            <h4 class="text-center py-2 my-2 bg-secondary">On sale</h4>
            <div class="container">
                <div class="row">  
                    <% courses.forEach(function(course){ %>
                        <% if(course.status === 'sale'){ %>
                        <div class="col-4 px-5  py-2">
                            <div class="card">
                                <h5 class="card-header text-center"><%= course.title %></h5>
                                <img src="<%= course.image %>" alt="<%= course.title %>" class="card-img"/>
                                <div class="card-body">
                                    <p class="card-text"><%= course.description %></p>
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-outline-danger btn-sm">Add to cart</button>
                                        <span class="text-dark text-right">Cost INR <%= course.cost %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </section>
    </div>
<% include ./partials/footer %>